{% extends "ProyectoWebApp/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
{% load static %}

<section class="page-section">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Formulario de registro</h2>
        </div>  

        <form method="POST">

            {% csrf_token %}
            <div style="width: 75%; margin: auto;">

                {{form|crispy}}

                <div style="text-align: center;">
                    <button type="submit" class="btn btn-success">Registrate</button>
                </div>

            </div>

        </form>

    </div>
</section>

{% endblock %}