{% extends "ProyectoWebApp/base.html" %}

{% block content %}
{% load static %}
    
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Servicios</h2>
            </div>
            <div class="row text-center">
                
                {% for servicio in servicios %}

                <div class="col-md-4">
                    <p><img src="{{servicio.imagen.url}}" alt="" style="width: 70%;"></p>
                    <h4 class="my-3">{{servicio.titulo}}</h4>
                    <p class="text-muted">{{servicio.contenido}}</p>
                </div>   
                
                {% endfor %}

            </div>
        </div>
    </section> 

{% endblock %}